.overlay-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;

    .overlay-content {
        padding: 2.9em;
        background-color: white;
        max-width: 500px;
        z-index: 1;
        position: relative;
        margin: auto;

        &.with-outline:focus {
            outline: 2px solid blue;
            outline-offset: 2px;
        }

        .overlay-close {
            top: 0;
            right: 0;
            position: absolute;
            cursor: pointer;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 1;
    // opacity: 0;
    transition: opacity 1s;
    // padding: 2em 0;
}

.react-overlay {
    &.react-open {
        .backdrop {
            opacity: 1;
        }
        opacity: 1;
    }

    &.react-opening {
        .backdrop {
            opacity: 1;
        }
        opacity: 1;
        // display: flex ;
    }

    &.react-closed {
        .backdrop {
            opacity: 0;
        }
        // visibility: hidden;
        display: none;
        opacity: 0;
    }

    &.react-closing {
        .backdrop {
            opacity: 0;
        }
        opacity: 0;
    }

    &.react-hidden {
        .backdrop {
            opacity: 0;
        }
        opacity: 0;
        // visibility: hidden;
        display: none;
    }
}

.scroll-lock {
    overflow: hidden;
}
